<% if @groups.present? %>
  <% @groups.each do |group| %>
    <%= link_to group_path(group) do %>
      <div class='category'>
        <%= image_tag(group.icon, alt: group.name, width: 80, height: 80, class: "group-icon") %>
        <%= group.name %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>No groups available.</p>
<% end %>
<%= link_to 'Add a new category', new_group_path %>