<!-- app/views/home/index.html.erb -->

<div class="flex-center">
  <div>
    <h1 class="splash-title">Welcome to Snapscan</h1>
    <!-- Make sure the text "Snapscan" matches your app's name -->
    <a href="/users/sign_in" class="splash-button">Log in</a>
    <a href="/users/sign_up" class="splash-button">Sign up</a>
    <!-- Adjust the links according to your routes -->
  </div>
</div>
