<div class="flex-center">
  <div class="splash-container">
    <%= image_tag 'logo-splash-menu.png', alt: 'Snapscan logo', class: 'splash-logo' %>
    <h1 class="splash-title">Welcome to BudgetBuddy</h1>
    <a href="/users/sign_in" class="splash-button">Log in</a>
    <a href="/users/sign_up" class="splash-button">Sign up</a>
  </div>
</div>

