<div class="dashboard-container">
  <% @transactions.each do |transaction| %>
    <div class="transaction-card">
      <% if transaction.group && transaction.group.icon.present? %>
        <div class="transaction-icon">
          <%= image_tag(transaction.group.icon, alt: transaction.group.name) %>
        </div>
      <% end %>
      <div class="transaction-info">
        <div class="transaction-name"><%= transaction.name %></div>
        <div class="transaction-amount"><%= number_to_currency(transaction.amount) %></div>
        <div class="transaction-date"><%= transaction.created_at.strftime("%d %b %Y") %></div>
      </div>
    </div>
  <% end %>
</div>
